<div class="input-group">
    <!-- <div>
        <input type="checkbox" ng-model="todo.completed" ng-click="update()">
    </div> -->

<!-- <span class="input-group-addon mb-3">
    <div class="input-group-text">
    <input type="checkbox" ng-model="todo.completed" ng-click="update()">
    </div>
</span>
        <input type="text" class="form-control" ng-model="todo.title" ng-blur="update()">
        <span class="input-group-btn">
        <button class="btn btn-outline-danger" type="button" ng-click="remove(todo)">삭제</button>
    </span>
</div>
{{todo.createdAt | date:'yyyy-MM-dd'}} -->

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
        <input type="checkbox" ng-model="todo.completed" no-click="update()" aria-label="Checkbox for following text input">
        </div>
    </div>
    <input type="text" class="form-control" ng-model="todo.title" ng-blur="update()" aria-label="Text input with checkbox">
    <span class="input-group-btn">
    <button class="btn btn-secondary" type="button" ng-click="remove(todo)">Remove</button><br>
</div>
<!-- {{todo.createdAt | date:'yyyy-MM-dd'}} -->